.jewelery {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer {
  text-align: center;

  .btn {
    width: 6rem;
    height: 6rem;
    font-size: 4rem;
    border: 5px solid black;
    display: flex;
    align-items: center;
    margin-left: 1em;
    margin-bottom: 1em;
  }

  .btn:hover {
    color: white;
    background-color: black;
  }
}
