.card {
  padding: 1rem;
  margin: 4rem;
  height: 35rem;
  width: 20rem;
  position: relative;

  img {
    width: 18rem;
    height: 60%;
  }

  .card-body {
    display: flex;
    flex-direction: column;

    .title {
      width: 16rem;
    }

    .rating {
      font-weight: 400;
    }

    .link {
      position: absolute;
      right: 7rem;
      bottom: 0.5rem;
    }
  }
}
