.app__navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-grey);
  color: var(--color-words);
}

.navbar-mainheader {
  font-size: 2rem;
  margin: 0.5rem 0 0 2rem;
  font-family: var(--font-head);
}

.navbar-btns {
  margin-right: 2%;
  display: flex;
  font-family: var(--font-base);
}

.navbar-btn {
  font-size: 1.5rem;
  height: 2rem;
  width: auto;
  margin: 1.2rem 2rem;
}
.navbar-btn:hover {
  border-bottom: 1px solid;
}

.navbar_mobile-menubtn {
  display: none;
}

.slash {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.navbar_mobile-overlay {
  top: 0;
  right: 0;
  position: absolute;
  height: 40vh;
  width: 40vw;
  background-color: var(--color-black);
}

.app__navbar-overlay-links {
  margin: 4rem 1rem 0 0;
  color: var(--color-words);
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cross {
  position: absolute;
  top: 6%;
  right: 15%;
}

.navbar_mobile-links {
  font-size: large;
}

/* for small to medium mobiles */
@media screen and (max-width: 361px) and (min-width: 320px) {
  .app__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-btn {
    display: none;
  }
  .slash {
    display: none;
  }
  .navbar_mobile-menubtn {
    margin: 0 1rem 0 0;
    display: flex;
    font-size: 2rem;
  }
  .navbar-mainheader {
    font-size: x-large;
  }
}

@media screen and (max-width: 400px) and (min-width: 362px) {
  .app__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-btn {
    display: none;
  }
  .slash {
    display: none;
  }
  .navbar_mobile-menubtn {
    margin: 0 1rem 0 0;
    display: flex;
    font-size: 2rem;
  }
  .navbar-mainheader {
    font-size: x-large;
  }
}

@media screen and (max-width: 440px) and (min-width: 401px) {
  .app__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-btn {
    display: none;
  }
  .slash {
    display: none;
  }
  .navbar_mobile-overlay {
    height: 30vh;
  }
  .navbar_mobile-menubtn {
    margin: 0 1rem 0 0;
    display: flex;
    font-size: 2rem;
  }
  .navbar-mainheader {
    font-size: x-large;
  }
  .cross {
    margin-top: 0.8rem;
  }
}

/* for medium to tablets */
@media screen and (max-width: 730px) and (min-width: 641px) {
  .app__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-btn {
    display: none;
  }
  .navbar_mobile-overlay {
    width: 50vw;
    height: 30vh;
  }
  .slash {
    display: none;
  }
  .navbar_mobile-menubtn {
    margin: 0 2rem 0 0;
    display: flex;
    font-size: 2.5rem;
  }
  .navbar-mainheader {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 821px) and (min-width: 731px) {
  .app__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar_mobile-overlay {
    height: 30vh;
  }
  .slash {
    display: none;
  }
  .cross {
    margin-top: 0.7rem;
  }
  .navbar_mobile-menubtn {
    margin: 0 2rem 0 0;
    display: flex;
    font-size: 2.5rem;
  }
  .navbar-btn {
    display: none;
  }
  .navbar_mobile-links {
    font-size: xx-large;
  }
}

/* for tablets to Laptop screens */
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .app__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
  }
  .slash {
    margin-top: 1.5rem;
  }
  .navbar-mainheader {
    font-size: 2rem;
  }
  .navbar-btn {
    font-size: x-large;
  }
}

/* for laptop to desktop or bigger screens */
@media screen and (max-width: 1280px) and (min-width: 1025px) {
  .navbar-mainheader {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .navbar-btns {
    margin-top: 0rem;
  }
}
